main {
  margin-top: 60px;
}

form {
  width: 350px;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 0;
}

.completed-task {
  text-decoration: line-through;
}
#root, body, html {
  background-color: cornflowerblue;
}
